main.waitlist-section {
    text-align: center;
    padding: 40px 20px;
}

main.waitlist-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Karantina';

}

main.waitlist-section p {
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Economica', sans-serif;
}

.cart-item-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid #000;
    background-color: #f4f1e8;
    padding: 20px 30px;
    margin: 40px auto;
    max-width: 1000px;
    max-height: 450px;
  }
  
  .cart-item-image {
    width: 850px;
    height: 750px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-image img {
    width: auto;
    height: 100%;
    transform: rotate(0deg);
    transform-origin: center;
    display: block;
    object-fit: contain;
}

.close-button {
    position: absolute;
    top: 4px;
    right: 12px;
    font-size: 20px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Economica', sans-serif;
    text-align: left;
    margin-right: 15px; 
}

.cart-item-details h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Karantina';
}

.cart-item-details p {
    font-size: 1.8rem;
    margin: 5px 0;
}

.cart-item-details .price {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width: 400px) {

    .cart-item-image {
        width: 400px;
        height: 400px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
