body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.filter-sort {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    font-size: 2rem;
    font-family: 'Economica', sans-serif;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: hsl(129, 72%, 29%);
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    max-height: 480px;
    margin-bottom: 10px;
}

.product-card {
    background-image: url('../images/Backdrop-rotate.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: white; 
    border: 1px solid rgb(0, 0, 0); 
    height: 600px; 
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 3px 0 3px 0; 
    font-family: 'Economica', sans-serif;
}

.product-card p {
    margin: 3px 0; 
    font-size: 1rem; 
    font-family: 'Economica', sans-serif;
}

.product-card .price {
    margin-top: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFD700; 
    font-family: 'Economica', sans-serif;
}

.product-link {
    text-decoration: none; 
    color: inherit; 
    display: block;
}

.product-link:hover {
    text-decoration: none; 
    color: inherit; 
}